<% include layout/header.ejs %>
<div class="main">
  <div class="container">
    <div class="content">
      <% posts.forEach( post => { %>
        <div class="post">
            <div class="top">
                <h2><a href="/posts/<%= post.url %>"><%= post.title %></a></h2>
            </div>
            <div class="body">
              <p><%= post.body %></p>
            </div>
            <div class="bottom">
              <div class="author">
                Author: <a href="/">GGG</a>
              </div>
                <a href="/">Comments</a>
            </div>
          </div>
      <% }) %>

      <div class="pagination">
          <% if  (current == 1) { %>
            <a class="toOld" href="/archieve/<%=current + 1 %>">К старым</a>
          <% } %>
        
        <% if  (current == 2) { %>
          <a class="toMain" href="/">На главную</a>
        <% } %>

        <% if (current > 2) { %>
          <a class="toNew" href="/archieve/<%=current - 1 %>">К новым</a>
        <% } %>

        <% if  (current !== 1 && pages > 0 && current < pages) { %>
          <a class="toOld" href="/archieve/<%=current + 1 %>">К старым</a>
        <% } %>
      </div>
    </div>


    <% include layout/sidebar.ejs %>
  </div>
</div>

<% include layout/footer.ejs %>
